@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import "semantic-ui-css/semantic.min.css";
@import "./theme.scss";

body {
  box-sizing: border-box;
  min-height: 100%;
  font-family: "Ubuntu", sans-serif;
  background-color: $WHITE;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 15em;
}
